.markdownView {
    width: 100%;
    color: #fff;
    &_header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box;
        height: 32px;
        padding: 0 16px;
        color: #d9d9e3;
        background: #343541;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }
}

.chatContent {
    &::after {
        margin-left: 0.25rem;
        vertical-align: baseline;
        -webkit-animation: blink 1s steps(5, start) infinite;
        animation: blink 1s steps(5, start) infinite;
        content: '▋';
    }
}
@-webkit-keyframes blink {
    to {
        visibility: hidden;
    }
}

@keyframes blink {
    to {
        visibility: hidden;
    }
}
