.promptRender {
    flex: 1;
    &_messageList {
        height: calc(100% - 60px);
        margin-bottom: 20px;
        overflow: auto;

        :global {
            .ant-spin-nested-loading {
                height: 100% !important;
            }

            .ant-spin-nested-loading .ant-spin-container {
                height: 100% !important;
            }

            .ant-spin-nested-loading .ant-spin-blur::after {
                opacity: 1 !important;
            }

            .ant-spin-nested-loading .ant-spin-container::after {
                background: none !important;
            }
        }
    }
    &_send {
        display: flex;
        align-items: center;
        padding: 0 7vw;
        overflow-y: auto;

        :global {
            .ant-input-textarea {
                height: auto !important;
                min-height: 100px !important;
                background-color: #343541;
                border-color: #40414f;
                resize: none !important;
            }

            .ant-input {
                color: #fff;
                background-color: #343541;
                border-color: #40414f;

                &::placeholder {
                    color: #8e8e9f;
                }
            }
        }

        &_icon {
            font-size: 18px;
            transform: rotate(320deg);
            opacity: 0.4;
        }

        &_icon_mobile {
            height: 41px;
            margin-left: 4px;
            padding: 0 10px;
            line-height: 38px;
        }

        &_icon_web {
            height: 41px;
            margin-left: 4px;
            padding: 0 10px;
            line-height: 38px;
            border-radius: 8px;
            cursor: pointer;

            &:hover {
                color: #fff;
                background-color: #343541;
            }
        }
    }
}
